body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
#name{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}
.link-hire{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 400;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

p{
    justify-content: center;
}
.exp-item{

    width: 40%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;

    
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 8px solid tomato;
}
#baby{
    border-left: 8px solid blue;
}
footer p{
    text-align:center;
    margin-top: 100px;
}